html
head
    title Search
head
body
    form(action='/search' method="post")
        input(type="text" name="query" id="query" placeholder="Search...")
        input(type="submit")
    a(href='/') return to home